
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">

    <title> 
      Product Management
    </title>
</head>
<body>
    <h1>Product Management</h1>
  <!-- {% if messages %}
      <ul class="messages">
        {% for msg in messages %}
        <li>{% if msg.tags %}
          {{msg.tags}}
          {% endif %}</li>
        {% endfor %}
      </ul>
    {% endif %} -->
    <hr>
    {%include 'nav.html'%}
    <br>
    <hr>
    <br>
    


    {%block content%}
    
    {% endblock %}

</body>
</html>