
{% block content %}

{% if request.user.is_authenticated %}
<div id='display'>
    <p>
        Welcome : {{user.username}}
    </p>
</div>


<ul class="navbl">
    <li><a href='{% url 'index' %}'>Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="{% url 'create' %}">Add Product Details</a></li>
    <li><a href="{% url 'index' %}">Show Reports</a></li>
    <li><a href ={% url 'logout' %} >Logout</a></li>
</ul>

{%else%}
    <ul class="navbl">
        <li><a href='{% url 'index' %}'>Home</a></li>
        <li>About Us</li>
        <li>Contact</li>
    </ul>

    {% endif %}



{% endblock content %}